services:
  node:
    image: node:20
    container_name: node
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    stdin_open: true
    tty: true

volumes:
  node_modules:
